# Игнорируем кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем виртуальные окружения
venv/
env/

# Игнорируем базы данных (они создадутся сами у пользователя)
*.db
*.sqlite3

# Игнорируем загруженные пользователями файлы (чеки, отчеты)
uploads/

# Игнорируем настройки редакторов кода
.idea/
.vscode/

# Игнорируем папку сборки, если ты собирал локально
build/
dist/
*.spec